{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
    <link href="{% static '/etest/styles.css' %}" src="etest/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    
    <div class="panel__top">
        <div class="panel__basic-actions"></div>
        <div class="panel__switcher"></div>
    </div>

    <div class="editor-row">
        <div class="editor-canvas">
            <div id="gjs">
            </div>
        </div>
        <div class="panel__right">
          <div class="layers-container"></div>
          <div class="styles-container"></div>
        </div>
    </div>
    <div id="blocks"></div>

</body>


<script src="//unpkg.com/grapesjs"></script>
<script src="{% static 'etest/index.js' %}"></script> 
<script>

    


</script>

</html>